header{
    background-image: url("flywheel.jpg");
}
header h1{
    color: #ffffff;
    text-align: center;
}
nav a{
    display: inline-block;
    width:15%;
    height:50px;
    background-color: rgba(242,242,242,0.25);
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 25px;
    padding-top: 20px;
    font-size: large;
    text-decoration: none;
    border-radius: 5px;
}
nav a:hover{
    background-color: #ffffff;
}