header{
    background-image: url("flywheel.jpg");
    padding-top: 5px;
    background-color: #aaaaaa;
}
header h1{
    color: #ffffff;
    text-align: center;
}
body{
    padding-top: 5px;
    margin-top: 5px;
}
nav a{
    display: inline-block;
    width:15%;
    height:50px;
    background-color: rgba(242,242,242,0.25);
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 25px;
    padding-top: 20px;
    font-size: large;
    text-decoration: none;
    border-radius: 5px;
}
.active{
    background-color: #ffffff;
}
.left{
    background-color: #cc9900;
    width: 25%;
    float:left;
}
.left img{
    display: inline-block;
    align-items: center;
    width:70%;
    height:25%;
    border-style: solid;
    border-color: #000000   ;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.right{
    display: inline-block;
    clear:both;
    width:75%;
}
.right h2{
    margin-left: 5px;
}
.right p{
    margin-left: 5px;
}
.right table{
    margin-left: 5%;
    height: 75%;
    width: 60%;
}
table th{
    background-color: #ace600;
    color: #ffffff;
    height: 15%;
    padding: 2%;
    border: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #99ffcc;
    border-bottom-width: 5px;
}
th:first-child{
    text-align: left;
}
th:not(:first-of-type)
{
    text-align: center;
    width: 20%;
}
tr td{
    font-size: medium;
    padding:2%;
    color: rgba(128, 128, 128, 1);
    transition-property: background-color 2s;
}
tr{
    background-color: rgba(221, 255, 204, 0.75);
}
tr:hover{
    background-color: rgba(221, 255, 204, 0);
}
td:first-child{
    text-align: left;
}
td:not(:first-child){
    text-align: center;
}
