header{
    background-color: #cccccc;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
img{
    display: none;
}
section{
    background-color: #808080;
}
h2{
    text-transform: uppercase;
    color: #0000cc;
}
a{
    color: #000000;
    background-color: #f2f2f2;
}