body{
    background-color: #b3b3b3;
}
#d1{
    text-align: center;
    background-image: linear-gradient(180deg, #808080, #00ccff);
    height: 150px;
}
h1{
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
}
.d2{
    display: inline-block;
    width:45%;
    clear: both;
    margin-top: 10px;
    margin-right: 2%;
}
h2{
    color: #808080;
    background-color: #0cf;
}
nav a{
    display: inline-block;
    font-size: 30px;
    margin-left: 50px;
    width:20%;
    background-color: #fff;
    font-variant: small-caps;
}
footer{
    background-image: linear-gradient(180deg,#808080,#00ccff);
}